<script>
  function displayName() {
    console.log("working on the function");
    document.getElementById("name").innerHTML =
      "Hello " +
      document.getElementById("input_name").value +
      "<br/>" +
      "<br/>" +
      "Welcome to the first Svelte page";
  }
</script>

<style>
  h1 {
    color: green;
  }
</style>

<input id="input_name" placeholder="Enter your name" />
<button id="input_button" on:click={displayName}>Click Here</button>
<p id="name" />
